/* Réinitialisation des styles de base */
*,
::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: rgb(36, 36, 36);
  background-color: #d9b99b;
}

html {
  cursor: url("/html/image/logo/icons8-mouse-cursor-pointer-arrow-head-isolated-on-white-background-24.png"),
    auto !important;
  height: 100%;
  scroll-behavior: smooth;
}

ul li,
.custom_cursor {
  cursor: url("/html/image/logo/icons8-mouse-cursor-pointer-arrow-head-isolated-on-white-background-24.png"),
    pointer !important;
}

body {
  overflow-x: hidden; /* Annonces en mouvement avec rotation */
  /* En raison de la rotation appliquée à la zone d'annonce, la barre de défilement horizontale peut apparaître
     en cas de dépassement de contenu. Pour éviter cela, nous masquons la barre de défilement horizontale avec
     "overflow-x: hidden". */
}

a {
  text-decoration: none;
  color: black;
}

/* Scroll Barre */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e4d5b7 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #e4d5b7;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #d9b99b;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #d9b99b;
}

/* End Scroll Barre*/

/* Importation de police */
@font-face {
  font-family: "Amelaryas";
  src: local("Amelaryas"), url("/html/font/Amelaryas.otf") format("opentype");
  font-display: swap;
}

/* Style pour les images */
img {
  object-fit: cover;
  width: 100%;
}

/* Style pour la navigation */
header {
  background-color: #f8f8f8;
  padding: 20px 0;
}
/* Style principal desktop */
.navbar_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
}

.logo {
  font-family: "Amelaryas", sans-serif;
  font-size: 18px;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row !important;
}

li {
  margin: 0 15px !important;
  font-family: "Amelaryas", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

/* Style pour les liens au survol */
li:hover {
  color: #d9b99b;
}

#header_icons i {
  font-size: 18px;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

.offre {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.title_maj {
  font-family: "Amelaryas", sans-serif;
  max-width: 50%;
  text-align: center;
  line-height: 60px;
}

.color_special_title {
  color: #5a7385;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 42.5%;
  margin-right: 42.5%;
  min-width: 15%;
  height: 40px;
  border-radius: 7px;
  background-color: #fff0db;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

.btn:hover {
  transform: scale(1.2);
}

.container_img {
  display: flex;
  align-content: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
}

.card {
  position: relative;
  border-radius: 45px;
  overflow: hidden;
  width: 40%;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.img1 {
  width: 100%;
  height: 400px;
}

.card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card_overlay {
  opacity: 1;
  cursor: url("/html/image/logo/cursor_beige.png"), auto !important;
}

.card_overlay p,
h3 {
  margin: 0;
  width: 95%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white;
  font-weight: 100;
}

.card_overlay h3 {
  font-size: 30px;
}

.btn_card {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: 120px;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.btn_card:hover {
  cursor: url("/html/image/logo/cursor_beige.png"), auto !important;
}

/* Annonces en mouvement */
.zone-annonce {
  position: relative;
  top: 60px;
  left: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #fff0db;
  transform: rotate(1.5deg);
}

.annonce_content {
  display: inline-block;
  white-space: nowrap;
  padding: 15px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: black;
  animation: move 30s linear infinite;
  animation-delay: 0s;
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-60%);
  }
}

.zone-annonce_2 {
  position: relative;
  top: 110px;
  left: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: rgb(36, 36, 36);
  transform: rotate(-1.5deg);
}

.annonce_content_2 {
  display: inline-block;
  white-space: nowrap;
  padding: 15px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  animation: move2 30s linear infinite;
  animation-delay: 0s;
}

@keyframes move2 {
  0% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* Conteneur d'images en présentation */
.container_img_presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px; /* Réduit la marge supérieure */
  width: 100%;
  max-width: 1200px; /* Limite la largeur maximale du conteneur */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  gap: 60px; /* Augmenté l'espacement entre les éléments */
}

.flex_image {
  flex: 1;
  overflow: hidden;
  width: auto;
  height: 250px;
}

.flex_image img {
  width: 100%;
  height: 100%; 
}

.flex_image1 {
  border-radius: 35px 0 35px 35px;
  width: 100%; 
}

.flex_image2 {
  border-radius: 0 35px 35px 0;
  width: 100%;
}

.card_flex {
  background-color: #fff0db;
  width: 100%;
  max-width: 350px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border-radius: 0 35px 0 35px;
}

.card_flex h2 {
  font-size: 12px;
  font-family: "Amelaryas", sans-serif;
  line-height: 35px;
  letter-spacing: 2px;
}

.align_text,
p {
  text-align: left;
  font-size: 14px;
  padding-top: 30px;
  font-family: "Open Sans", sans-serif;
  color: black;
  line-height: 23px;
}

/* Conteneur de confort */
.container_confort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10%;
}

.confort_flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 120px;
  position: relative;
}

.confort_flex h1 {
  font-family: "Amelaryas", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-bottom: 15px;
  max-width: 90%;
}

.confort_flex p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  max-width: 60%;
}

.btn_confort {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  min-width: 15%;
  height: 40px;
  border-radius: 7px;
  background-color: #fff0db;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

.btn_confort:hover {
  transform: scale(1.2);
}

.image_confort {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.image_confort img {
  width: 100%;
  height: 800px;
  border-radius: 35px 0 0 35px;
}


.image_confort img {
  max-width: 100%;
  height: auto;
  border-radius: 35px 0 0 35px;
}

.img_horizontal {
  padding-top: 6%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  gap: 10px;
}

.img_horizontal_longue img {
  max-width: 100%;
  height: 400px;
  border-radius: 40px;
}

.img_horizontal_large img {
  max-width: 100%;
  height: 400px;
  border-radius: 55px 0 55px 0;
}

.container_card_slogant {
  margin-top: 120px;
  width: 100%;
  height: 1100px;
  background-color: #fff0db;
  border-radius: 50px 50px 0 0;
}

.card_slogant {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
}

.card_slogant h2 {
  width: 70%;
  font-size: 24px;
  font-family: "Amelaryas", sans-serif;
  text-align: center;
  line-height: 60px;
}

.card_slogant h2 p {
  font-size: 24px;
  font-family: "Amelaryas", sans-serif;
  text-align: center;
  line-height: 60px;
}

.card_slogant img {
  margin-top: 80px;
  width: 100%;
  height: 600px;
  border-radius: 35px 35px 20% 20%;
  border: white solid 3px;
}

.text_carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.text_carrousel h2 {
  font-family: "Amelaryas", sans-serif;
  text-align: center;
  line-height: 75px;
  font-size: 24px;
  max-width: 55%;
}

.text_carrousel span {
  color: #d9b99b;
}

.carrousel_slider {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-200px * 7)
    ); 
  }
}


/* Styling */
.slider {
  width: 100%; 
  overflow: hidden;
}

.slide-track {
  animation: scroll 12s linear infinite;
  display: flex;
  width: calc(
    (250px + 25px) * 12
  );
}

.slide {
  height: 400px;
  width: 250px;
  margin-right: 25px; 
}

.slide img {
  height: 400px;
  width: 100%; 
  object-fit: cover; 
  border-radius: 20px;
}

/*barre de la partie vision*/
.vison {
  position: relative;
}

.container_barre {
  position: absolute;
  display: flex;
  align-items: center;
  left: 60px;
  padding-top: 260px;
  gap: 12px;
}

.barre {
  width: 30px;
  height: 5px;
  margin-top: 30px;
  background-color: #49796b;
}

.container_barre p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/* Style de la section "container_cration" */
.container_cration {
  position: relative;
  display: flex;
  align-items: center;
  gap: 62px;
  padding-top: 300px;
  padding-right: 50px;
}

/* Style des titres à l'intérieur de "container_cration" */
.container_cration h2 {
  width: 35%;
  padding-left: 55px;
  font-size: 32px;
  font-family: "Amelaryas", sans-serif;
  line-height: 70px;
}

/* Style des images à l'intérieur de "container_cration" */
.container_cration img {
  width: 30%;
  height: 300px;
  border-radius: 55px 0 55px 0;
}

/* Style de la classe "text_mini" à l'intérieur de "container_cration" */
.container_cration .text_mini {
  position: absolute;
  left: 70%;
  top: 50%;
  right: 0;
  bottom: 0;
  width: 27%;
  font-size: 14px;
  line-height: 40px;
}

/* Style de la section "btn_vsion_contact" */
.btn_vsion_contact {
  position: relative;
}

/* Style du bouton à l'intérieur de "btn_vsion_contact" */
.btn_vsion_contact button {
  position: absolute;
  bottom: 25px;
  left: 75%;
  min-width: 15%;
  height: 60px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 4px solid #fff0db;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

/* Effet au survol du bouton */
.btn_vsion_contact button:hover {
  transform: scale(1.2);
}

/* Style de la section "container_contact" */
.container_contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}

/* Style de l'image à l'intérieur de "container_contact" */
.container_contact img {
  border-radius: 50px;
  width: 80%;
}

/* Style de la classe "Contact" à l'intérieur de "container_contact" */
.Contact {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8%;
  margin-top: 28%;
  width: 80%;
  height: 385px;
  background-color: #e0ffcd;
  border-radius: 50px;
}

/* Style des titres et du texte à l'intérieur de "Contact" */
.Contact h2 {
  font-family: "Amelaryas", sans-serif;
  font-size: 25px;
}

.Contact p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/* Style du champ de saisie à l'intérieur de "Contact" */
.container_email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 55px;
  border-radius: 35px;
  border: black solid 1px;
}

.container_email input {
  padding-left: 25px;
  width: 80%;
  font-family: "Open Sans", sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
}

.container_email .fa-arrow-right {
  padding-right: 25px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.676);
}

/* Style du texte de l'attribut placeholder du champ de saisie */
.Contact input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.711);
}

/* Style pour le footer */
footer {
  margin-top: 100px;
}
/* Style pour les éléments du footer */
.container_background_footer {
  padding: 20px 0;
  background-color: #f8f8f8;
  padding: 30px 0;
}

.menu_footer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about {
  flex: 1;
  text-align: left;
  padding-right: 400px; /* Espace entre la div "about" et la navigation */
}

.logo_footer {
  color: #d9b99b;
  font-size: 30px;
  font-family: "Amelaryas", sans-serif;
}
/* Style pour la navigation */
.nav_column {
  display: flex;
  flex: 2; /* Utilise 2/3 de l'espace disponible */
}

.nav_column ul {
  list-style: none;
  padding: 0;
  flex-direction: column !important;
  flex: 1; /* Prend autant d'espace que possible */
  margin-right: 20px; /* Espace entre les deux colonnes */
}

.nav_column ul li {
  margin: 15px 0 !important;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

/* Style pour les ul en colonnes */
.column {
  display: flex;
  flex-direction: column;
}

.column .title_bold {
  font-size: 20px;
}

/* Style pour les liens du footer */
a {
  color: #fff;
  text-decoration: none;
}

/* Copyright */

.copyright {
  background-color: #e4e4e4;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles pour la version desktop (écrans de plus de 1114px de largeur) */
@media screen and (min-width: 1115px) {
  .preloader {
    display: none; /* Masquer le préchargeur sur la version desktop */
  }
  #myNav_mobile,
  .burger {
    display: none;
  }

  .container_nav {
    display: none;
  }
}

/* Styles pour la version mobile et tablette (écrans de 1114px ou moins de largeur) */

/* Version Tablette */

/* Media query pour les écrans jusqu'à 1114px de largeur (par exemple, Microsoft Surface Duo) */

@media screen and (max-width: 1114px) {
  body {
    overflow-x: hidden; /* Annonces en mouvement avec rotation */
    /* En raison de la rotation appliquée à la zone d'annonce, la barre de défilement horizontale peut apparaître
       en cas de dépassement de contenu. Pour éviter cela, nous masquons la barre de défilement horizontale avec
       "overflow-x: hidden". */
  }

  a {
    text-decoration: none;
    color: black;
  }
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: loader 3s ease forwards;
    opacity: 1;
  }

  /* Reste du CSS pour la version mobile/tablette */
  #preloader-video {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }

  /* Animation pour masquer le préchargeur après 3 secondes */
  @keyframes loader {
    0% {
      visibility: visible; /* Rendre le preloader visible a 0% */
    }

    100% {
      visibility: hidden; /* Rendre le preloader non visible a 100% */
    }
  }

  .burger {
    display: none;
  }

  .container_nav {
    display: none;
  }

  .logo {
    padding-left: 35px;
  }

  .fa-cart-shopping {
    padding-right: 25px;
  }

  /* Réduire la largeur maximale des éléments ayant la classe "title_maj" pour s'adapter à l'écran */
  .title_maj {
    max-width: 100%;
  }

  /* Réajuster la marge et la largeur des boutons */
  .btn {
    margin-left: 38.5%; /* Centrer horizontalement */
    margin-right: 38.5%;
    min-width: 23%; /* Ajuster la largeur minimale */
    cursor: none; /* Définir le curseur en tant que pointeur */
    transform: none; /* Annuler toute transformation au survol */
    transition: none; /* Annuler toute transition au survol */
  }

  /* Au survol, aucune transformation supplémentaire n'est appliquée */
  .btn:hover {
    transform: none;
  }

  .card_overlay {
    background-color: rgba(0, 0, 0, 0.4);

    padding: 0px;
    opacity: 1;
    transition: none;
  }

  .card:hover .card_overlay {
    opacity: 1;
    cursor: none;
  }

  .card {
    position: relative;
    border-radius: 45px;
    overflow: hidden;
    width: 40%;
  }
  .zone-annonce_2 {
    transform: rotate(-2deg);
  }
  .zone-annonce {
    transform: rotate(2deg);
  }
  .container_img_presentation {
    gap: 30px;
  }

  .confort_flex {
    padding-left: 40px;
  }

  .img_horizontal {
    padding-top: 15%;
  }

  .card_slogant h2 {
    width: 85%;
    font-size: 20px;
  }
  .card_slogant h2 p {
    font-size: 20px;
  }

  .card_slogant img {
    height: 400px;
  }

  .container_card_slogant {
    margin-top: 120px;
    width: 100%;
    height: 950px;
    background-color: #fff0db;
    border-radius: 50px 50px 0 0;
  }

  .text_carrousel h2 {
    font-size: 20px;
    max-width: 90%;
  }

  .container_cration {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
    padding-top: 300px;
    padding-right: 0px;
  }

  .container_cration h2 {
    text-align: center;
    width: 50%;
    font-size: 20px;
    line-height: 50px;
  }

  .container_cration img {
    width: 50%;
    padding-right: 300px;
    padding-top: 20px;
  }
  .container_cration .text_mini {
    left: 60%;
    top: 60%;
    width: 30%;
    font-size: 14px;
    text-align: right;
    letter-spacing: 0.5px;
  }

  .btn_vsion_contact button {
    position: absolute;
    bottom: 0px;
    left: 82%;
    min-width: 15%;
    height: 50px;
    cursor: none;
  }

  .Contact {
    gap: 2%;
    margin-top: 28%;
    width: 80%;
    height: 250px;
  }

  .Contact h2 {
    padding-top: 15px;
    font-size: 16px;
  }

  .container_email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 55px;
    border-radius: 35px;
    border: black solid 1px;
  }

  .container_email input {
    padding-bottom: 0px;
  }

  .container_email .fa-arrow-right {
    padding-bottom: 0%;
  }

  .about {
    padding-right: 180px;
  }
  #myNav_mobile,
  .burger {
    display: none;
  }
}

/* Version Mobile */
@media screen and (max-width: 768px) {
  /* styles CSS pour les écrans jusqu'à 768px de largeur ici */
  body {
    overflow-x: hidden; /* Annonces en mouvement avec rotation */
    /* En raison de la rotation appliquée à la zone d'annonce, la barre de défilement horizontale peut apparaître
       en cas de dépassement de contenu. Pour éviter cela, nous masquons la barre de défilement horizontale avec
       "overflow-x: hidden". */
  }

  a {
    text-decoration: none;
  }
  .navbar_header {
    display: none;
  }
  .container_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .burger {
    display: contents;
  }

  .fa-bars {
    font-size: 20px;
    padding-right: 20px;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    font-family: "Amelaryas", sans-serif;
    text-decoration: none;
    font-size: 36px;
    color: #fff0db;
    display: block;
    transition: 0.3s;
    line-height: 60px;
    cursor: none;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
  }

  @media screen and (max-height: 450px) {
    body {
      overflow-x: hidden; /* Annonces en mouvement avec rotation */
      /* En raison de la rotation appliquée à la zone d'annonce, la barre de défilement horizontale peut apparaître
         en cas de dépassement de contenu. Pour éviter cela, nous masquons la barre de défilement horizontale avec
         "overflow-x: hidden". */
    }
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  .container {
    padding-top: 0px;
  }

  .title_maj {
    font-size: 25px;
  }

  .btn {
    margin-left: 24.5%;
    margin-right: 24.5%;
    min-width: 50%;
    transition: none;
  }

  .container_img {
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
  }

  .card {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    width: 90%;
    height: 350px;
  }
  .zone-annonce_2 {
    display: none;
  }

  .zone-annonce {
    height: 45px;
    transform: none;
  }
  .container_confort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10%;
    position: relative;
  }
  .container_img_presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
    flex-direction: column;
  }

  .card_flex {
    background-color: #fff0db;
    width: 75%;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border-radius: 0 35px 0 35px;
  }

  .confort_flex h1 {
    font-size: 22px;
  }
  .confort_flex p {
    max-width: 100%;
  }

  .btn_confort {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    min-width: 40%;
  }

  .image_confort img {
    position: absolute;
    top: 625px;
    left: 50%;
    transform: translate(-50%, -50%); /* a revoire mettre en dessous les texte*/
    max-width: 100%;
    height: 300px;
    border-radius: 30px 0px 0px 30px;
  }

  .img_horizontal {
    display: none;
  }

  .container_card_slogant {
    margin-top: 400px;
    width: 100%;
    height: 750px;
    background-color: #fff0db;
    border-radius: 50px 50px 0 0;
  }

  .card_slogant h2 {
    width: 93%;
    font-size: 16px;
    line-height: 35px;
  }
  .card_slogant h2 p {
    font-size: 16px;
    line-height: 35px;
  }

  .card_slogant img {
    height: 200px;
  }

  .text_carrousel h2 {
    font-size: 16px;
    max-width: 95%;
    line-height: 45px;
  }
  .carrousel_slider {
    display: none;
  }

  .container_barre {
    position: absolute;
    display: flex;
    align-items: center;
    left: 20px;
    padding-top: 230px;
    gap: 12px;
    display: none;
  }
  .img_horizontal_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 16px;
    width: 90%;
    gap: 20px;
  }

  .container_cration {
    justify-content: center;
    padding-right: 0px;
    width: 95%;
    display: none;
  }

  .container_cration h2 {
    text-align: left;
    padding-right: 12%;
    width: 93%;
    font-size: 20px;
    line-height: 50px;
  }

  .container_cration img {
    width: 100%;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 5%;
  }
  .container_cration .text_mini {
    left: 0;
    right: 0;
    bottom: 0;
    top: 880px;
    width: 80%;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0.7px;
    line-height: 27px;
  }

  .btn_vsion_contact button {
    display: none;
  }
  .container_contact {
    padding-top: 80px;
  }
  .container_contact img {
    border-radius: 50px;
    height: 250px;
    width: 95%;
  }

  .Contact {
    bottom: 0%;
    gap: 2%;
    top: 30%;
    width: 95%;
    height: 190px;
  }

  .Contact h2 {
    text-align: center;
    padding-top: 15px;
    font-size: 11px;
    line-height: 30px;
  }
  .Contact p {
    display: none;
  }
  .container_email {
    width: 75%;
  }

  .container_email input {
    padding-bottom: 0px;
  }

  .container_email .fa-arrow-right {
    padding-bottom: 0%;
  }

  .menu_footer {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
  }
  .about {
    padding-right: 0px;
  }
  .copyright {
    height: 60px;
  }
}
